// настройка плагинов тут прописывается
// если нужно добавить css от библиотеки,
// нужно сюда прописать
@import '../libs/normalize/normalize.css'
@import '../libs/magnific/magnific-popup.css'
@import '../libs/bxslider/jquery.bxslider.css'
@import '../libs/animate/animate.css'
@import '../libs/slick/slick.css'
@import '../libs/slick/slick-theme.css'