bodyBg = #dd80d9
orangeColor = #f98268
cyanColor = #54E3D7
lightPinkColor = #fdeaf0
pinkColor = #ff8398

// fonts
mainFont = 'CarlitoRegular'
lightFont = 'GlacialIndifferenceRegular'
logoFont = 'PoppinsLight'
// logoFont = 'PoppinsExtraLight'
// logoFont = 'SpaceMeatball'
italicFont = 'CarlitoItalic'
