// Подключаем стили библиотек
@import '_libs.styl'

// Подключаем переменные
@import '_vars.styl'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
@import '_sprite.styl'

// Подключаем миксины
@import '_mixins.styl'

html 
  line-height 1.4
  font-size 14px

body
  background url('../img/general/empty_track.jpg') top center
  font-family mainFont, sans-serif

// убираем отступы
h1,h2,h3,h4,h5,h6
  margin 0

// убираем отступы
// и точки
ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0

// у ссылок убираем подчеркивание
// устанавливаем цвет
a
  text-decoration none
  color black

// все медиа выравниваем
audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

// убираем resize, чтобы пользователь
// мог resize делать самостоятельно
textarea
  resize none

section
  position relative
  margin-bottom 20px

input,
select,
button
  outline none

// для того чтобы отступы и padding'и были уже включены
*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
  
.show
  display block

// цвета выделения
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;

// для очистки float'ов
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;

.wrapper
  width 100%
  max-width 1300px
  margin 0 auto
  padding 30px 50px 50px
  background-color #FFFFFF
  
.top-block
  width 100%
  max-width 1300px
  margin 0 auto
  height 100px
  padding 15px 50px

.top_social-link
  li
    display inline-block
    vertical-align top
    width 50px
    height 50px
    a
      display block
      width 100%
      height 100%
      &.top_social-link_vk
        background url('../img/icons/vk.png') 0 0 no-repeat
      &.top_social-link_mail
        background url('../img/icons/mail.png') 0 0 no-repeat
      &.top_social-link_fb
        background url('../img/icons/fb.png') 0 0 no-repeat
      &.top_social-link_tm
        background url('../img/icons/telegram.png') 0 0 no-repeat
      &.top_social-link_inst
        background url('../img/icons/instagram.png') 0 0 no-repeat
      &.top_social-link_yadisk
        background url('../img/icons/yandex_disk.png') 0 0 no-repeat
      &.top_social-link_youtube
        background url('../img/icons/youtube.png') 0 0 no-repeat

.top_social-link
  float left
.top_btn
  float right
  .btn
    &:first-child
      margin-right 20px

.btn
  display inline-block
  padding 0 20px
  line-height 40px
  font-size 1.429rem
  font-weight bold
  color black
  text-transform lowercase
  border-radius 30px
  
.btn_white
  background-color #FFFFFF  
  
.btn_orange
  background-color orangeColor
  
.btn_cyan
  background-color cyanColor

// Общие стили
@import '_common_styles.styl'

// Стили шапки
@import 'common/_header.styl'

// Стили главной страницы
@import 'page/_index.styl'

// Стили футера
@import 'common/_footer.styl'

// Стили медиазапросов
@import '_media.styl'
