header
    .header_top
        .header_logo
            a(href="javascript:void(0);") obraz-donor.ru
            span бег и донорство
        .header_address
            .header_address_top
                a(href="tel:=74951234567").header_phone +7 495 
                    span 123 4567
                a(href="javascript:void(0);").btn.btn_orange обратный звонок
            .header_address_bottom
                span Москва, ул. Ленинские Горы 1, стр. 52
        .header_basket_wrap
            .header_basket
                span Корзина пуста, <br> добавьте товар.
            span —
            a(href="javascript:void(0);") Чем отличаются копии от оригинала?

    .main_nav-wrap
        nav.main_nav
            ul
                li
                    a(href="javascript:void(0);").active О фонде

                li
                    a(href="javascript:void(0);") Акции

                li
                    a(href="javascript:void(0);") Новости

                li
                    a(href="javascript:void(0);") Истории

                li
                    a(href="javascript:void(0);") Помочь

                li
                    a(href="javascript:void(0);") Партнеры

                li
                    a(href="javascript:void(0);") Контакты

        .top_search-wrap
            input(type="text" placeholder="поиск по товарам")